body {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .menu_mobilsite {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    margin-top: 1.3rem;
    margin-left: 2rem;
  }

  .burgermenu {
    margin-top: 3rem;
    margin-left: 9rem;
  }

  .header_index {
    background-color: rgba(138, 131, 50, 1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .header_underside {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  h1 {
    text-align: center;
    padding-block: 2rem;
    color: rgba(51, 51, 51, 1);
    font-family: "Cormorant Unicase", serif;
  }

  p {
    padding-block: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .h1_sekundaer_side {
    text-align: center;
    padding-block: 2rem;
    color: rgba(51, 51, 51, 1);
    font-family: "Cormorant Unicase", serif;
    background-color: rgba(138, 131, 50, 1);
    border-radius: 20px;
    margin-top: 1rem;
  }

  .oplysninger {
    background-color: rgba(138, 131, 50, 1);
    border-radius: 20px;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  form {
    padding-block: 1rem;
  }

  form h3 {
    color: rgba(51, 51, 51, 1);
  }

  .card1 {
    background-color: rgba(201, 202, 162, 1);
    border-radius: 20px;
    padding-block: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .card2 {
    background-color: rgba(138, 131, 50, 1);
    border-radius: 20px;
    padding-block: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .knap_sek {
    padding: 10px 20px; /* Indre margin (plads omkring teksten) */
    background-color: rgba(223, 96, 41, 1); /* Baggrundsfarve (blå) */
    color: rgba(51, 51, 51, 1); /* Tekstfarve */
    text-decoration: none; /* Fjern underline (standard på links) */
    border-radius: 5px; /* Runde hjørner */
    font-size: 16px; /* Tekststørrelse */
    text-align: center; /* Centrer teksten */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .knap_sek2 {
    padding: 10px 20px; /* Indre margin (plads omkring teksten) */
    background-color: rgba(84, 46, 46, 1); /* Baggrundsfarve (blå) */
    color: rgba(201, 202, 162, 1); /* Tekstfarve */
    text-decoration: none; /* Fjern underline (standard på links) */
    border-radius: 5px; /* Runde hjørner */
    font-size: 16px; /* Tekststørrelse */
    text-align: center; /* Centrer teksten */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .knap_sek,
  .knap_sek2 {
    display: block;
  }

  .container {
    position: relative;
  }
  .overlaylink {
    position: absolute;
    top: 80%; /* Placér linket i midten af billedet (vertikalt) */
    left: 50%; /* Placér linket i midten af billedet (horisontalt) */
    transform: translate(-50%, -50%); /* Juster linket for at centrere det præcist */
    color: rgba(51, 51, 51, 1); /* Farve på teksten */
    font-size: 20px; /* Skriftstørrelse */
    background-color: rgba(223, 96, 41, 1); /* Semi-transparent baggrund for synlighed */
    padding: 10px 20px; /* Polstring omkring linket */
    text-decoration: none; /* Fjern standard underline */
    border-radius: 5px; /* Rund hjørner */
    text-align: center;
  }

  .footer_a {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
  }

  .footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  footer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    background-color: rgba(138, 131, 50, 1);
  }
  .sociale {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
  }

  .sociale img {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .logo {
    margin-top: 1.3rem;
    margin-left: 2rem;
  }
  .header_index {
    background-color: rgba(138, 131, 50, 1);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order {
    order: -1;
  }

  .burgermenu {
    margin-top: 3rem;
    margin-left: 25rem;
  }

  h1 {
    text-align: center;
    padding-block: 2rem;
    color: rgba(51, 51, 51, 1);
    font-family: "Cormorant Unicase", serif;
    font-size: 4rem;
  }

  p {
    padding-block: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container {
    position: relative;
  }
  .overlaylink {
    position: absolute;
    top: 80%; /* Placér linket i midten af billedet (vertikalt) */
    left: 50%; /* Placér linket i midten af billedet (horisontalt) */
    transform: translate(-50%, -50%); /* Juster linket for at centrere det præcist */
    color: rgba(51, 51, 51, 1); /* Farve på teksten */
    font-size: 20px; /* Skriftstørrelse */
    background-color: rgba(223, 96, 41, 1); /* Semi-transparent baggrund for synlighed */
    padding: 10px 20px; /* Polstring omkring linket */
    text-decoration: none; /* Fjern standard underline */
    border-radius: 5px; /* Rund hjørner */
    text-align: center;
  }

  .footer_a {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
  }

  .footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  footer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    background-color: rgba(138, 131, 50, 1);
  }
  .sociale {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
  }

  .sociale img {
    width: 30%;
  }

  .knap_sek {
    padding: 10px 20px; /* Indre margin (plads omkring teksten) */
    background-color: rgba(223, 96, 41, 1); /* Baggrundsfarve (blå) */
    color: rgba(51, 51, 51, 1); /* Tekstfarve */
    text-decoration: none; /* Fjern underline (standard på links) */
    border-radius: 5px; /* Runde hjørner */
    font-size: 16px; /* Tekststørrelse */
    text-align: center; /* Centrer teksten */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .knap_sek2 {
    padding: 10px 20px; /* Indre margin (plads omkring teksten) */
    background-color: rgba(84, 46, 46, 1); /* Baggrundsfarve (blå) */
    color: rgba(201, 202, 162, 1); /* Tekstfarve */
    text-decoration: none; /* Fjern underline (standard på links) */
    border-radius: 5px; /* Runde hjørner */
    font-size: 16px; /* Tekststørrelse */
    text-align: center; /* Centrer teksten */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .knap_sek,
  .knap_sek2 {
    display: block;
  }

  .oplysninger {
    background-color: rgba(138, 131, 50, 1);
    border-radius: 20px;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
  }
}
